<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
    $http.post("https://localhost:44302/api/books/insert", {
        title: $scope.title,
        price: $scope.price,
        quantity: $scope.quantity,
        publisherId: $scope.publisherId
    }).then(function (response) {
        // The new book has been inserted successfully.
    },
        function (err) {
            // There was an error inserting the new book.
        });
</script>
<body ng-app="my-app">
    <form ng-submit="insertBook()">
        <input type="text" ng-model="title" placeholder="Title">
        <input type="number" ng-model="price" placeholder="Price">
        <input type="number" ng-model="quantity" placeholder="Quantity">
        <input type="number" ng-model="publisherId" placeholder="Publisher ID">
        <button type="submit">Insert Book</button>
    </form>
</body>
</html>